.softwareHead {
  background: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}
.wares {
  background: var(--color-primary-variant);
  padding: 2rem;
}

.softwares {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.softwareContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.softwareDesc {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;

  & h3 {
    font-weight: 500;
    font-size: 30px;
    max-width: 250px;
  }

  & p {
    max-width: 250px;
    background: var(--color-primary);
    padding: 10px;
    border-radius: 10px;
  }
}

.Features,
.UseCases,
.Benefits,
.Specifications {
  max-width: 300px;
  height: fit-content;
  background: var(--color-primary);
  padding: 10px;
  border-radius: 10px;
}
.softwareDesc > div {
  background: rgba(128, 128, 128, 0.993);
  padding: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-width: 220px;
  max-height: 220px;
}

@media screen and (max-width: 1000px) {
  .softwareContent {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .softwares {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .softwareContent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
